
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
input(type='hidden', value= user.name)#userName
input(type='hidden', value= user.user)#userUserId
input(type='hidden', value= user.email)#userEmail

table#account-form-container
	tr
	each hall in examhall
		td 
			button.BtnAddRegister.btn.btn-warning.regiBtn(type='button',value=hall.country)=hall.country


include modals/form-errors
