
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
input(type='hidden', value= user.name)#userName
input(type='hidden', value= user.user)#userUserId
input(type='hidden', value= user.email)#userEmail
input(type='hidden', value= user.mobile)#userMobile
input(type='hidden', value= user.team)#userTeam
input(type='hidden', value= gosa.number)#gosaNumber
ul#account-form-container
	h3=gosa.number	+ "회 출석고사 신청"

	each hall in examhall
		li 
			button.BtnAddRegister.btn.btn-warning.regiBtn(type='button',value=hall.country,data-ableYn=hall.ableYn)=hall.country


include modals/form-errors
